flows .json
[
    {
        "id": "dbdcac35fb2d3704",
        "type": "tab",
        "label": "Line Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a97923871915b389",
        "type": "websocket-client",
        "path": "https://api.netpie.io/v2/device/shadow/data",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "Authorization:Device"
    },
    {
        "id": "e940c84b6c14b893",
        "type": "http in",
        "z": "dbdcac35fb2d3704",
        "name": "hook",
        "url": "/callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "2197c90d748701d9"
            ]
        ]
    },
    {
        "id": "94f466d5cdd80bc3",
        "type": "switch",
        "z": "dbdcac35fb2d3704",
        "name": "Switch Message Form Line",
        "property": "payload[1]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "อุณหภูมิ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "เปิด",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "58e6b8f30018ff72"
            ],
            [
                "bb430fb7b66c25e7"
            ],
            [
                "ae64284f449e59ac"
            ]
        ]
    },
    {
        "id": "2197c90d748701d9",
        "type": "function",
        "z": "dbdcac35fb2d3704",
        "name": "Extrack Message",
        "func": "var receive_msg = msg.payload;\nvar reply;\nif (receive_msg.events[0].message.type == \"text\") {\n    reply = receive_msg.events[0].message.text;\n}\nelse{\n    return;\n}\n\nvar value = [receive_msg, reply];\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "94f466d5cdd80bc3"
            ]
        ]
    },
    {
        "id": "4e6cbe2beea62a61",
        "type": "linebot-client",
        "z": "dbdcac35fb2d3704",
        "name": "",
        "channelAccessToken": "",
        "channelSecret": "",
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bb430fb7b66c25e7",
        "type": "function",
        "z": "dbdcac35fb2d3704",
        "name": "เปิด",
        "func": "var receive_msg = msg.payload[0];\nvar reply;\nif (receive_msg.events[0].message.type == \"text\") {\n    reply = { type: 'text', text: 'เปิด' };\n}\nvar value = [receive_msg, reply];\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "4e6cbe2beea62a61"
            ]
        ]
    },
    {
        "id": "ae64284f449e59ac",
        "type": "function",
        "z": "dbdcac35fb2d3704",
        "name": "ไม่รู้จัก Sticker",
        "func": "var receive_msg = msg.payload[0];\nvar reply;\nreply = {\n    type: \"sticker\",\n    packageId: 11537,\n    stickerId: 52002744\n}\n\n// return [receive_msg, reply];\n\nvar value = [receive_msg, reply];\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "4e6cbe2beea62a61"
            ]
        ]
    },
    {
        "id": "6e9bbe2fec058c0c",
        "type": "http request",
        "z": "dbdcac35fb2d3704",
        "name": "get netpie's api",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.netpie.io/v2/device/shadow/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "gh",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "a4220d1b5c61f5ee"
            ]
        ]
    },
    {
        "id": "a4220d1b5c61f5ee",
        "type": "json",
        "z": "dbdcac35fb2d3704",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "7c3e2fef742a5498"
            ]
        ]
    },
    {
        "id": "7c3e2fef742a5498",
        "type": "split",
        "z": "dbdcac35fb2d3704",
        "name": "Split by ','",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "41632e8b431b8693"
            ]
        ]
    },
    {
        "id": "1b58d3c04555c4c0",
        "type": "change",
        "z": "dbdcac35fb2d3704",
        "name": "Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.Temperature",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "8ea409224bbcee97"
            ]
        ]
    },
    {
        "id": "41632e8b431b8693",
        "type": "switch",
        "z": "dbdcac35fb2d3704",
        "name": "Data",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "1b58d3c04555c4c0"
            ]
        ]
    },
    {
        "id": "06c96d395f6c2eae",
        "type": "inject",
        "z": "dbdcac35fb2d3704",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "6e9bbe2fec058c0c"
            ]
        ]
    },
    {
        "id": "58e6b8f30018ff72",
        "type": "function",
        "z": "dbdcac35fb2d3704",
        "name": "อุณหภูมิ",
        "func": "var t = flow.get(\"Temp\");\nt = t.toString();\nvar receive_msg = msg.payload[0];\nvar reply = { type: 'text', text: t };\nvar value = [receive_msg, reply];\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "4e6cbe2beea62a61"
            ]
        ]
    },
    {
        "id": "8ea409224bbcee97",
        "type": "file",
        "z": "dbdcac35fb2d3704",
        "name": "",
        "filename": "C:\\Users\\Pasu\\Desktop\\text.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "6d9e86ae9d5ebead"
            ]
        ]
    },
    {
        "id": "6d9e86ae9d5ebead",
        "type": "function",
        "z": "dbdcac35fb2d3704",
        "name": "set",
        "func": "var t = flow.set(\"Temp\", msg.payload);\nmsg.payload = t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    }
]
